/*background image*/

.header-bg {
	background-image: url(../images/bg.jpg);
	height: 900px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 51px;
	position: relative;
}

.navigation-wraper {
	display: flex;
	justify-content: space-around;
}
.logo,
.nav-a {
	color: #D9F0FF;
}
.logo {
	font-size: 28px;
	font-weight: bold;
}
.nav-a {
	font-size: 12px;
	text-transform: uppercase;
}

.nav-ul {
	display: flex;
}

li {
	margin-right: 30px;
}

.title-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 100px;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;

}

/*section1*/

.left-block,
.right-block {
	width: 50%;
	background-color: #CECECE;
}

.block-bg {
	background-image: url(../images/image.jpg);
	height: 601.44px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 51px;
	position: relative;
}
.container {
	display: flex;
}

.button {
	background-color: #325DFF;
	width: 307px;
	height: 72px;
	border-radius: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;

}
.text1 {
	font-size: 50px;
	font-family: 'Lato', sans-serif;
	width: 468px;
}
.text2 {
	font-size: 16px;
	margin: 50px 0;



}
.left-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.text-wraper {
	width: 468px;
}